*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1441px;
    margin: 0 auto;
}
.a{
    text-decoration: none;
}
.hd{
    width: 1491px;
    height: 826px;
    background-image: url("Rectangle@1X.png");
    background-color: transparent;
}
.bg{
    display: inline-flex;
}
.logo{
    margin-top: 53px;
    margin-left: 57px;
}
.D_logo{
    float: right;
    margin-left: 675px;
    margin-top: 57px;
}
.menu{
    text-align: right;
    margin-top: 30px;
}
.menu li{
    display: inline-block;
    margin-right: 100px;
}
.special{
    display: flex;
}
.bordertext{
    flex-direction: column;
    display: block;
    border: 5px dashed #3D2514 ;
}
.bigtext{
    display: block;
    margin-top: 280px;
    margin-left: 60px;
    flex-direction: column;
    font-size: 8px;
}
.anounce{
    font-size: 100px;
}
.subanounce{
    font-size: 50px;
}
.images{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 100px;
}
.cola{
    width: 170px;
    height: 400px;
    align-self: flex-start;
}
.brgr{
    width: 425px;
    height: 369px;
    margin-top: 50px;
}
.fries{
    width: 304px;
    height: 340px;
}
.price{
    display: block;
    margin-left: 700px;
}
.centered {
    position: absolute;
    top: 775px;
    left: 825px;
    transform: translate(-50%, -50%);
  }