* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cart {
    color: #3d2514;
    font-family: "Bebas Neue Bold";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 4.17px;
    text-decoration: none;
}
.hd{
    width: 1391px;
    height: 200px;
    background-image: url("../mainpage/Rectangle@1X.png");
    background-color: transparent;
}
.bg{
    display: inline-flex;
}
.logo{
    margin-top: 53px;
    margin-left: 57px;
}
.D_logo{
    margin-left: 590px;
    margin-top: 57px;
    padding: 10px;
}
.D_text{
    margin-top: 70px;
    color: #3d2514;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}
.menu{
    text-align: right;
    margin-top: 30px;
}
.menu li{
    display: inline-block;
    margin-right: 100px;
}
.navifonts{
    color: #3d2514;
    font-family: "Bebas Neue Bold";
    font-size: 21px;
    font-weight: 400;
    text-align: left;
    text-transform:uppercase;
    opacity: 1;
}

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;

}

.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid #ffc045;;
    margin: 0 auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}


.product-title {
    width: 60%;
    font-family: 'Montserrat', sans-serif;

}

.price {
    width: 15%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffc045;;
    font-family: 'Montserrat', sans-serif;
}

.total {
    width: 10%;
    border-bottom: 1px solid #ffc045;;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.quantity {
    width: 15%;
    border-bottom: 1px solid #ffc045;;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.product {
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ffc045;;
    font-size: 16px;
    font-family: 'Alfa Slab One', cursive;
}

.products img {
    width: 75px;
    margin-left: 20px;
    margin-right: 20px;
}

.basketTotalContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    font-family: 'Alfa Slab One', cursive;
}

.basketTotalTitle {
    width: 20%;
}
